@import "variables.scss";

.logo {
    @include logo;
}

* {
    scrollbar-width: thin;
}

.App {
    height: 100vh;

    .header {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    // align-items: center;

    .application {
        display: none;
    }

    * > a {
        text-decoration: none;
        color: $basicFontColor;
    }

    .body-section {
        display: grid;
        grid-template-columns: 60% 40%;
        .img-section {
            display: inline-block;
            overflow: hidden;
            img {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
        .text-section {
            margin: auto 0;
            display: inline-block;
            .read-more {
                border: 1px solid black;
                padding: $goldenRate;
                background: none;
            }
        }

    }

    .nav {
        padding-right:$goldenRate*2;
        align-items: center;
        grid-column: 2;
       
        ul {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            // vertically middle - align item:center
            align-items: right;
            justify-content: flex-end;       
         }
        li {
            padding: $goldenRate/2;
            font-family: $fontRailWay;
            display: inline-block;
        }
    }

    .posts-container {
        @include body;
        display:grid;
        grid-template-columns: 30% 70%;
        column-count: 3;
        column-gap: 0;
        .categories{
            grid-column-start: 1;
            .category{
                font-weight: 100;
            }
        }
        .posts {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-column-start: 2;
            .post-link-frame {
                transition: all ease-in-out 0.3s;
                padding: $goldenRate;
                background-size: cover;
                display: table-cell;
                vertical-align: middle;
                justify-self: stretch;
                overflow: hidden;
                // box-shadow: 0px 0px 2px 0px $subInfoColor;
               
                img {
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    //    padding-bottom:75%;
                    //    width: 100%;
                    //    height: 100%;
                }
                .numbering {
                    font-weight: 100;
                    text-align: left;
                    color: grey;
                }
                .post-title {
                    text-align: left;
                    font-weight: 400;
                    font-family: $fontRailWay;
                    display: inline-block;

                }
            }
        }
    }

    .post-blocks {
        &:hover {
            transition: all ease-in-out 0.3s;
            box-shadow: inset 0 0 10px 0 $subInfoColor;
        }
        height: 150px;
        padding: $goldenRate;
        margin: 0;
        overflow: hidden;
        border: 1px solid black;
    }

    .post-card {
       
        text-align: left;
        margin: 0 auto;
        width: 50vw;
        img {
            position: relative;
            width: 50vw;
        }
        pre {
            overflow: auto;

        }
        .badge {
            box-sizing: content-box;
            display: table-cell;
            padding: 0.2rem;
            vertical-align: middle;
            border-radius: 20%;
        }
        .pink {
            background-color: peachpuff;

        }
    }
}
