@import "variables.scss";
@font-face {
    font-family: 'kimku';
    src: url('kimku.ttf') format('truetype');
}
@font-face {
    font-family: 'A펜글씨B';
    src: url('A펜글씨B.TTF') format('truetype');
}
@font-face {
    font-family: 'jeongum';
    src: url('jeongum.ttf') format('truetype');
}
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.logo {
    @include logo;
}

* {
    scrollbar-width: thin;
}

.App {
    height: 100vh;


    .header {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    // align-items: center;

    .application {
        display: none;
    }
    * > a:not(.logo) {
        text-decoration: none;
        color: black;
    }

    .body-section {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        .img-section {
            overflow: hidden;
            width: 80%;
            img {
                width: 100%;
                object-fit: cover;
            }

        }

        .text-section {
            margin: auto 0;
            display: inline-block;
            font-family: 'La Belle Aurore', cursive;
            font-size: $goldenRate*1.5;


            .read-more {
                border: 1px solid black;
                padding: $goldenRate;
                background: none;
            }
        }

    }

    .nav {
        padding-right: $goldenRate*2;
        align-items: center;
        grid-column: 2;

        ul {
            height: 100%;
            margin: 0 0 0 auto;
            padding: 0;
            display: table;
            // vertically middle - align item:center

            justify-content: flex-end;
        }

        li {
            font-size: $goldenRate*1.5;
            padding: $goldenRate/2;
            font-family: 'La Belle Aurore', cursive;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .posts-container {
        overflow-x: hidden;
        @include body;
        display: grid;
        // grid-template-columns: 30% 70%;
        // column-count: 3;
        column-gap: 0;

        .categories {
            grid-column-start: 1;

            .category {
                font-weight: 100;
            }
        }

        .posts {

            h1 {
                font-family: 'La Belle Aurore', cursive;
                font-size: $goldenRate*2.0;
                font-weight: 300;
            }
            h1::after {
                content: "";
                position: absolute;
                width: 5%;
                display: block;
                left: 47.5%;
                border-bottom: 0.5px solid rgb(180, 178, 178);
            }
            .post-link-frame:hover {
                transform: translateX(10px);
            }

            .post-link-frame {

                transition: all ease-in-out 0.3s;
                background-size: cover;
                vertical-align: middle;
                justify-self: stretch;
                overflow: hidden;
                // box-shadow: 0px 0px 2px 0px $subInfoColor;

                img {

                    display: none;
                    width: $goldenRate * 7;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;

                }

                .numbering {
                    font-weight: 100;
                    text-align: left;
                    color: grey;
                }

                .post-title {
                    margin: $goldenRate/2.5;

                    text-align: left;
                    font-weight: 400;
                    font-family: 'RIDIBatang';
                    display: inline-block;

                }
            }
        }
    }

    .post-blocks {
        &:hover {
            transition: all ease-in-out 0.3s;
            box-shadow: inset 0 0 10px 0 $subInfoColor;
        }
       
        height: 150px;
        padding: $goldenRate;
        margin: 0;
        overflow: hidden;
        border: 1px solid black;
    }

    .post-card {
        line-height: 22pt;
        letter-spacing: 0.8px;
        text-align: left;
        margin: 0 auto;
        width: 70vw;
        .divider{
            margin: $goldenRate*3;
            width: 5%;
            display: block;
            position: relative;
            left: 40%;
            border-bottom: 0.5px solid rgb(180, 178, 178);
        }

        p > a{
            transition: all ease-in-out 0.3s;
            padding: $goldenRate/5;
            border-bottom: 1px solid rgb(255, 123, 123);
            &:hover{
                background: rgb(255, 123, 123);
            }
         }
        
        iframe {
            // keep Youtube video in width
            width: 100%;
        }
        code,
        li,
        p,
        table {
            font-family: 'RIDIBatang';
            color: rgb(98, 98, 98);
        }
        strong {
            font-family: 'RIDIBatang';
            color: black;
        }

        h1,
        h2,
        h3 {
            font-family: 'A펜글씨B';
        }
        h1 {
            line-height: 40px;
        }
        img {
            border-radius: 2%;
            position: relative;
            width: 50vw;
        }

        pre {
            padding: 1.1613rem;
            background: #4b464608;
            overflow: auto;
            color: #5f5757e0;

        }

        // code padding and scrollbar 
        pre::-webkit-scrollbar {
            width: 2px;
            height: 4.5px;
        }
        pre:hover::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

        }

        .badge {
            box-sizing: content-box;
            display: table-cell;
            padding: 0.2rem;
            vertical-align: middle;
            border-radius: 20%;
        }

        .pink {
            background-color: peachpuff;

        }
    }
}
