@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Felipa&display=swap');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');


$fontNanumMyungjo : 'Nanum Myeongjo',sans-serif;
$fontRailWay : 'Raleway', sans-serif;
$goldenRate:1.1613rem;
$basicFontColor:#4b4646;
$subInfoColor :#80808075;

@mixin body{
margin: 0 auto;
}
@mixin logo {
    grid-column: 1 ;
    text-decoration: none;
    font-size : $goldenRate*1.5 ;
    font-family: 'La Belle Aurore', cursive;
    text-align:left;
    padding-left: $goldenRate*2;
}
